h1{
    align:center;
    margin:200px 0 0 400px;
    color:white;

}
body{
    background-image:url("WhatsApp Image 2025-02-07 at 14.38.10 (1).jpeg");
    background-size:cover;
    background-repeat:no-repeat
    background-position:center;
}
button{
    margin:50px 0 0 500px;
    border-radius:30px;
}
p{
    margin:50px 0 0 400px;
    color:white;
    font-weight:bold;
    font-size:50px;
}
